<div class="box">
  <mat-card class="card">
    <mat-card-title class="title">
      <h2 style="color: royalblue">Update Password</h2>
    </mat-card-title>
    <form class="form" [formGroup]="forgotCredentialsForm" >
      <mat-form-field class="field">
        <mat-label>UserName</mat-label>
        <input matInput type="text" formControlName="userName" [(ngModel)]="password.userName"/>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" [(ngModel)]="password.newPassword"/>
      </mat-form-field>

      <div class="example-button-row">

        <button mat-raised-button color="warn" (click)="forgotCredentials()">
          Update
        </button>
      </div>

    </form>
  </mat-card>
</div>
