
<div>
  <h1 style="color: red;">List Of Bookings</h1>
</div>
<div  class="mat-elevation-z8 demo-table">
<table mat-table [dataSource]="dataSource"  matSort (matSortChange)="announceSortChange($event)" >

  <ng-container matColumnDef="bookingId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let element">{{element.bookingId}}</td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>UserName</th>
    <td mat-cell *matCellDef="let element">{{element.userName}}</td>
  </ng-container>

  <ng-container matColumnDef="movieName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MovieName</th>
    <td mat-cell *matCellDef="let element">{{element.movieName}}</td>
  </ng-container>

  <ng-container matColumnDef="theaterName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TheaterName</th>
    <td mat-cell *matCellDef="let element">{{element.theaterName}}</td>
  </ng-container>




  <ng-container matColumnDef="ticketCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TicketCount</th>
    <td mat-cell *matCellDef="let element">{{element.ticketCount}}</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



</table>
<mat-paginator [pageSizeOptions]="[2, 10, 20]"  [length]="200"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

</div>

